:root {
  --text: #e0f7fa;
  --background: #263238;
}

:root,
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding-top: 7vh;
}

header {
  display: flex;
  background-color: var(--background);
  padding: 1rem;
  font-family: "Share Tech Mono", monospace;
  position: fixed;
  width: 100%;
  top: 0;
  color: var(--text);
  margin: 0;
  height: 7vh;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

section h1 {
  font-family: Verdana, sans-serif;
}

section {
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}
