:root {
  --text: #ffe227;
  --background: #121013;
}

:root,
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #aaaaaa;
  box-sizing: border-box;
}

header {
  background-color: var(--background);
  padding: 1rem;
  font-family: "Share Tech Mono", monospace;
}

h1 {
  text-align: center;
  color: var(--text);
  margin: auto;
}

section h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text);
  font-family: Verdana, sans-serif;
}

section {
  display: flex;
}
