:root {
  --yellow-color: #f7df1e;
  --dark-color: #000;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #274058;
}

li {
  float: left;
  font-family: "Open Sans", sans-serif;
}

li a {
  display: block;
  color: rgb(189, 189, 189);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #213a52;
  color: rgb(255, 255, 255);
}

#container {
  background-color: #dddddd;
  width: 80%;
  margin: auto;
  height: 100%;
  padding-top: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

#sub-container {
  height: 35%;
  width: 50%;
  background-color: #30475e;
  border-radius: 15px;
  padding: 5%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

body {
  background-color: #222831;
  margin: 0;
}

h1 {
  color: #f05454;
  text-align: right;
  font-family: "Bebas Neue", cursive;
  font-size: 2vw;
}

input {
  border-radius: 5px;
  width: 20%;
  height: 25%;
}

.cards {
  margin-top: 1rem;
  display: flex;
  border: thin solid var(--dark-color);
  padding: 1rem;
  flex-wrap: wrap;
}

.card-figcaption {
  padding: 1rem;
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.opacity-80 {
  opacity: 0.8;
}

.sepia {
  filter: sepia(1);
}

.card {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
