#container {
  background-color: #dddddd;
  width: 80%;
  margin: auto;
  height: 70vh;
  padding-top: 300px;
}

#sub-container {
  height: 250px;
  width: 700px;
  background-color: #30475e;
  border-radius: 15px;
  padding-top: 100px;
  margin-left: 405px;
}

body {
  background-color: #222831;
}

h1 {
  color: #f05454;
  text-align: right;
  font-family: 'Bebas Neue', cursive;
  margin-right: 50px;
}
